.landing-page-container {
  position: relative;
  .content-mockup {
    width: 100%;
    i {
      width: 100%;
      color: #38c4b0;
      text-align: center;
    }
  }
  .main-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .article-container {
    width: 45%;
    margin: 8px;
    display: block;
    transition: box-shadow ease-in-out 0.25s;
    padding: 8px;
    border-radius: 4px;
    &:hover {
      text-decoration: none;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }

    .title {
      display: inline-block;
      padding: 8px 0 0.1em 0;
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
      color: #04080f;
      &::first-letter {
        text-transform: uppercase;
      }
    }

    .article-description {
      display: block;
      font-weight: lighter;
      font-family: "Open Sans", sans-serif;
      padding: 0 0 0.8em 0;
      margin: 0;
      font-size: 0.9em;
      color: #5c5c5c;
      text-transform: capitalize;
    }
    .article-img {
      width: 100%;
      min-height: inherit;
    }
    .article-img img {
      width: 100%;
      height: inherit;
    }

    .author-name {
      color: #4e4e4e;
      font-size: 0.84rem;
      font-weight: bolder;
      padding: 0;
      margin: 0;
    }

    .rating {
      color: #999999;
      font-size: 0.8rem;
    }
    .author-name {
      text-transform: capitalize;
      &:hover {
        color: #2ea8f7;
        text-decoration: #2ea8f7;
      }
    }

    .date-and-read-time {
      margin-top: -0.2rem;
    }

    .publication-date,
    .read-time {
      color: #999999;
      font-size: 0.72rem;
      i {
        color: #444554;
      }
    }
    &.article-main {
      .title {
        font-size: 1.6em;
      }
    }

    @media (max-width: 576px) {
      margin: 0;
      width: 50%;
      &:hover {
        box-shadow: none;
      }
      .article-img {
        img {
          width: 100%;
          max-height: 200px;
        }
      }
    }
  }
  /* aside articles */
  .aside-title {
    padding: 0 8px 8px 8px;
    font-size: 1.5em;
    font-weight: bolder;
    border-bottom: 1.5px #38c4b0 solid;
  }
  .aside-content {
    margin: 8px 0;
  }
  .trending-article {
    padding: 16px 8px;
    display: flex;
    transition: box-shadow ease-in-out 0.5s;
    border-radius: 5px;
    flex-direction: row;
    color: #04080f;

    &:hover {
      text-decoration: none;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
    .title {
      font-size: 1.2em;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    .side-head-title {
      font-size: 0.9rem;
      font-weight: 440;
      text-align: inherit;
    }
    .order {
      font-weight: 500;
      width: 36px;
      color: #313131;
    }
    .rating .icon {
      color: #5e5e5f;
    }
    .author-name {
      text-transform: capitalize;
      font-weight: bolder;
      &:hover {
        color: #2ea8f7;
        text-decoration: #2ea8f7;
      }
    }
    .publication-date,
    .read-time {
      padding: 0.4em 0 0 0;
      font-size: 0.7rem;
    }

    @media (min-width: 576px) {
    }
  }

  .trending-article-container span {
    font-size: 0.8rem;
    color: #5e5e5f;
    display: block;
    padding: 2px 0;
  }

  .btn.btn-bookmark {
    margin: auto 1rem;
    padding: 0;
    min-width: 36px;
    width: 36px;
    border-radius: 50%;
  }

  .trending-article .btn.btn-bookmark {
    margin-bottom: 0;
    margin-right: 0;
  }
  .btn.btn-bookmark .material-icons {
    color: #383838;
    font-size: 18px;
    margin: 0;
    transition: font-size 0.1s ease-in-out, color 0.1s ease-in-out;
  }

  .btn.btn-bookmark:hover .material-icons {
    font-size: 28px;
    color: #2ea8f7;
  }

  .article-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  //   New scss
  .articles-user-feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .article-container {
      .article-img {
        height: 180px;
      }
    }
  }

  .article-container.article-main {
    width: 100%;
    height: auto;
    img {
      height: 400px;
    }
    .article-description {
      font-size: 0.9em;
      font-weight: lighter;
    }
  }

  @media (max-width: 576px) {
    aside,
    section {
      padding: 0;
    }
  }
}

/* 2dp elevation modified*/
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.load-more {
  text-align: center;
  color: #38c4b0;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 35%;
}

.load-more button {
  padding: 8px 16px;
  border: 1px solid #38c4b0;
  border-radius: 4px;
  color: #38c4b0;
  background-color: white;
}

.load-more button:hover {
  color: white;
  background-color: #38c4b0;
}

