acronym {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 0.4em 0 0 0.2em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 1px #38c4b0 solid;
  border-bottom: 0.5px #38c4b0 solid;
  background-color: #38c4b0;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
// Button Styling
.btn-follow-author {
  border: 1px solid #2ea8f7;
  border-radius: 4px;
  padding: 0.5px 10px;
  font-size: 0.8rem;
  color: #2ea8f7;
  margin: 0 0 0 1em;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.btn-follow-author:hover {
  color: #ffffff;
  background-color: #2ea8f7;
}
.images {
  border: 1px solid #2ea8f7;
  border-radius: 4px;
  height: 560px;
}
// Added changes
figure {
  padding-top: 8px;
  img {
    height: auto;
    width: 100%;
  }
}
figcaption {
  padding: 8px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #111111;
  &::first-letter {
    text-transform: uppercase;
  }
}
p {
  text-align: left;
  font-style: normal;
  display: block;
  padding: 0;
  color: #111111;
  font-weight: 300;
  font-size: 1.2rem;
}
blockquote {
  width: 70%;
  margin: 16px auto;
  padding: 8px 16px;
  display: block;
  border-left: 8px #38c4b0 solid;
  font-style: italic;
  font-size: 1.4rem;
  color: #00000090;
  p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.4rem;
  }
}
.text {
  font-size: 0.7em;
  padding-top: 5px;
}
p img {
  max-width: 100%;
  height: auto;
}
@media all and (min-width: 320px) {
  .lead-un-sm {
    font-size: 0.9em;
    text-transform: capitalize;
  }
  .lead-rt-sm {
    font-size: 0.7em;
    text-transform: capitalize;
  }
  .follow {
    width: 2em;
    height: 1.5em;
  }
}
@media all and (min-width: 968px) {
  .text {
    font-size: 0.9em;
  }
}
@media all and (min-width: 150px) and (max-width: 955px) {
  .author-details {
    margin: 0;
    justify-content: center !important;
    padding: 1rem 0.5rem 1rem 0.5rem !important;
  }
  .article-likes {
    margin: 1.5em 0 0.5em 0 !important;
  }
}
@media all and (min-width: 576px) {
  .lead-un-sm {
    font-size: 0.9em;
    text-transform: capitalize;
  }
  .lead-rt-sm {
    font-size: 0.7em;
    text-transform: capitalize;
  }
  .follow {
    width: 2em;
    height: 1.5em;
  }
}
.article-taglist {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0 auto;
  .article-tag {
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    margin: 8px;
    border-radius: 2px;
    background-color: #e6ebec;
    line-height: 32px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
.small-icon {
  font-size: 10px;
  display: inline-block;
  margin: 0 10px 0 5px;
  color: #38c4b0;
}
.ratings {
  color: #38c4b0;
  margin-left: 10px;
}
.rating-message {
  animation: cssAnimation 0s 5s forwards;
  visibility: visible;
}
.error {
  color: red;
}
.message {
  color: #38c4b0;
}
.author-details {
  font-weight: bold;
  margin-left: auto;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5) !important;
}
@keyframes cssAnimation {
  to {
    visibility: hidden;
  }
}
.dislike {
  border: 1px solid #f72e38;
  border-radius: 4px;
  padding: 0.5px 10px;
  font-size: 0.8rem;
  color: #f72e71;
  margin: 0 0 0 1em;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  &:hover {
    color: #ffffff;
    background-color: #f72e3f;
  }
}

a.author-username {
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    color: #2ea8f7;
  }
}

.article-comments {
  margin: 16px 0;
  .comments-header{
    // color: #5d5d5d;
    font-weight: 300;
    font-size: 1.4rem;
    span{
      padding: 4px 8px;
      font-size: 14px;
      display: inline-block;
      border-radius: 50%;
      background-color: #dee2e6;
      font-weight: 600;
    }
  }
  .single-comment {
    margin-bottom: 8px;
  }
  .comments-none {
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #5d5d5d;
  }
  .comment-author-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 0 8px;
    .author-username {
      padding: 8px 8px 0 8px;
      margin: 0 8px;
      font-size: 1.2rem;
      font-weight: 300;
      text-transform: capitalize;
    }
    .comment-date {
      color: rgba(0, 0, 0, 0.5);
      font-size: 11.2px;
      display: block;
      padding-left: 8px;
      margin-left: 8px;
    }
  }
  .comment-content {
    padding: 8px;
    font-weight: 300;
    font-size: 1.2rem;
  }
  .comment-footer {
    .btn.btn-comment-like {
      color: #2ea8f7;
      padding: 4px 8px;
      font-size: 14px;
      &:hover {
        color: #ffffff;
        background-color: #2ea8f7;
      }
    }
  }
  .new-comment-editor {
    textarea {
      width: 100%;
      padding: 8px;
      margin: 8px 0;
      border-radius: 4px;
      border-color: #dee2e6;
      font-size: 1.2rem;
      font-weight: 300;
      &::placeholder {
        color: #888;
      }
      &:focus {
        outline-width: 2.5px;
        -moz-outline-radius: 4px;
      }
    }
  }
  .comment-editor-options {
    .btn-update-cancel {
      margin-right: 4px;
      color: #da2120;
      border: 1px solid #da2120;
      &:hover {
        color: #ffffff;
        background-color: #da2120;
      }
    }
    .btn-update-comment {
      margin-left: 4px;
      color: #ffffff;
      background-color: #2ea8f7;
    }
  }
}
