/* css variables  */
:root {
  --sm-min: 48em;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
body {
  min-height: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  padding-top: 128px;
}
.content-container {
  width: 80%;
  margin: 16px auto 0;
}
.nav {
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  z-index: 3000;
  top: 0;
  right: 0;
  left: 0;
} 
.nav .nav-top{
height: 72px;
padding: 16px 10%;
background-color: #38c4b0;
box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.nav .nav-float{
  padding: 16px 11%;
  height: 56px;
  position: sticky;
  top:0;
}
.nav .nav-top,
.nav .nav-float{
  display: flex;
  flex-direction: row;
}

.nav .nav-spacer {
  flex-grow: 1;
}

.nav .nav-logo {
  display: flex;
  align-items: center;
  height: 36px;
  font-size: 1.8rem;
  width: fit-content;
  /* vertical-align: middle; */
}
.nav .nav-logo img {
  height: 100%;
  display: inline-block;
}
.nav .nav-logo img:first-of-type {
  margin-bottom: 2px;
}
.nav .nav-logo img:last-of-type {
  height: 32px;
}

.nav ul.nav-menu {
  display: block;
  height: 100%;
  width: unset;
}
.nav ul.nav-menu li {
  height: 100%;
  display: inline-block;
}
.nav ul.nav-menu a {
  font-weight: 400;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
}

.nav .nav-menu li:hover {
  border-bottom: 5px var(--secondary-color) solid;
}
.btn-group {
  margin: auto;
}
.btn-group .btn {
  border-radius: 4px;
  color: #ffffff;
}
/* sign in button */
.btn-group .btn:first-of-type {
  margin-right: 8px;
  color: #000000;
}
.btn-group .btn:last-of-type {
  width: 150px;
}

.btn-group .btn:first-of-type:hover {
  background-color: #2EA8F7;
  color: #ffffff;
}
/* sign up button */
.btn-group .btn:last-of-type:hover {
  background-color: #2EA8F7;
  border: none;
}
.btn-group .btn.btn-outline {
  border-color: #ffffff;
  border-width: 1px;
}
.nav .nav-profile {
  height: 50px;
  min-width: 50px;
  width: 50px;
  border-radius: 50px;
  border-top: 1px #ffffff solid;
  border-bottom: 1px #ffffff solid;
  margin-top: -5px;
  padding: 2px;
}
.nav .nav-profile img {
  height: 100%;
  border-radius: 48px;
}
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 16px 10%;
  margin: 16px 0;
}

.footer .quick-links a,
.footer-copright {
  color: #5e5e5f;
  font-weight: 500;
  font-size: 12px;
}

.footer .quick-links a .material-icons {
  color: #38c4b0;
}

.footer-copright {
  padding: 8px 16px;
  display: block;
}
