* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  min-width: 320px;
}

.app-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1.4rem;
}

/* Style for navbar*/
.nav-top {
  padding: 10px 10%;
  display: flex;
  flex-direction: row;
  background-color: #38c4b0;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 1.8rem;
  width: fit-content;
  vertical-align: middle;
}

.nav-logo img {
  height: 100%;
  display: inline-block;
}

.nav-logo img:first-of-type {
  margin-bottom: 2px;
}

.nav-logo img:last-of-type {
  height: 32px;
}

.nav-item a {
  color: #000000 !important;
}

.nav-item a:hover {
  color: #686565 !important
}

.btn-outline {
  color: white;
  background-color: transparent;
  border: solid 0.5px whitesmoke;
}

.btn-outline-inverse {
  color: black;
  background-color: white;
  border: solid 0.5px whitesmoke;
}

// Footer property
.footer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.footer a,
.footer-copright {
  text-decoration: none;
  color: #38c4b0 !important;
  font-weight: 500;
  font-size: 12px;
}

.footer a:hover {
  color: #0b6d5e !important;
}

.footer-copright {
  padding: 0px 16px;
  display: block;
}

.btn-toggler {
  background-color: #38c4b0;
  color: white;
  padding: 0.5rem;
  border-radius: 0;
} 

.btn-toggler:hover {
  background-color: white;
  color: #38c4b0;
  border-color: #38c4b0;
} 